*{
    margin: 0;
    padding: 0;
}
.background{
    background-image:url(hamn_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border: 1px solid black;
    }
.h2{
    margin-top: 15%;
    padding-top: 5%;
    text-align: center;
    font-size: 60px;
    text-shadow: 6px  6px #003469;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:white ;
   
}
.nav1{
    
    position: sticky;
    top: 0;
    width: 93.4%;
    background-color: #003469;
    padding: 50px;
   }
.nav1 a{
    font-weight: bold;
    float: left;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 15%; /* width of links */
    text-align: center;
}
.divide{
    margin:20px;
    padding: auto;
    width: 96%;
    height:450px;
}

.box{
    width: 400px;
    height: 400px;
    margin: 50px;
    background-color: #003469;
    border: 1px solid #003469;
    color: white;
    float: left;
    line-height: 1.6;
}
.box h3{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.box p{
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-size: 20px;
}
a.one:link{color: #003469;}
a.one:visited{color: #003469;}
a.one:hover{color: red;}
a.one {
    margin: 70px;
    margin-left: 20px;
    padding: 20px;
    border-style: outset;
    border-width: 6px;
    border-color:#003469;
    float: left;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
   
}
a.two:link{color: #003469;}
a.two:visited{color: #003469;}
a.two:hover{color: red;}
a.two{
    margin: 70px;
    padding: 20px;
    border-style: outset;
    border-width: 6px;
    border-color: #003469;
    float: left;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
   }

   .all_image{
      margin-top: 80px;
       padding-top: 50px;
       background-image: url("all_image.png");
       background-size: cover;
       background-repeat: no-repeat;
       height: 400px;
   }
 
.h3{
    margin:100px 750px 5px 150px ;
    padding: 10px;
    border:1px solid white;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #e3000f;
   
}
.para{
    margin: 10px 750px 5px 150px;
    padding: 5px;
    border: 1px solid white;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    text-indent: 30px;
    color:  #003469;
}

.crane{
    margin-left: 100px;
    width: 600px;
     float: right;
}
div.gallery{
    margin: 50px;
    border: 1px solid white;
    float: left;
    width: 400px;
    height: 550px;
}
div.gallery:hover{
    border: 5px outset #003469;
}
div.gallery img{
    width:400px;
    height: 300px;
}
div.desc{
    padding: 15px;
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    color: #003469;
}

.footer{
     background-color:#003469 ;
    color: white;
}

/* sea services page starts here*/

.background1{
    background-image: url("sea_services_background.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height: 300px;
    }
.sea1{
    font-size: 80px;
    color:white ;
    text-shadow: 6px 6px #003469;
    text-align: center;
    padding-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.image1{
    padding-top: 20px;
    width: 800px;
    height: 600px;
    float:left
}

.sea_heading{
    margin: 50px 150px 30px 900px;
    padding: 5px;
    color: #e3000f;
    font-size: 22px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.para1 p{
    margin: 20px 150px 20px 900px;
    padding: 5px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    color: #003469;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

}
aside{
    margin: 10px 450px 200px 900px;
    padding: 5px;
    font-style: italic;
    color: #003469;
    line-height:1.6;
}
h2{
    margin: 10px;
    text-align: center;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: #003469;
}
div.gallery1{
    margin: 50px;
    float: left;
    width: 400px;
    height:400px;

}
div.gallery1 img{
    width: 400px;
    height:400px ;
}
div.desc1{
    padding: 15px;
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    color: #003469;
}
.image2{
    margin-top: 20%;
    padding-top: 40px;
    width: 800px;
    height: 750px;
    float:right
}
.container_specialist{
    margin: 840px 100px 5px 50px;
    padding: 5px;
    width: 250px;
    height:75px;
    color: #e3000f;
    font-size: 22px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.para2 p {
   margin: 10px 100px 5px 50px;
    padding: 20px;
    width: 500px;
    height:270px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    color: #003469;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.aside{
    margin:1px 800px 10px 100px; 
    text-align:left;
    width: 10%;
    height:40%;

}
/* land-services start here*/
.background2{
    background-image: url("land_background_img.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height:400px;

}
.land{
    font-size: 80px;
    color:white ;
    text-shadow: 6px 6px #003469;
    text-align: center;
    padding-top: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.div5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 10px 10px 10px;
    height: 600px;
}
.workers img{
    width: 800px;
    height: 600px;
}
.content {
   width: 400px;
   height: 300px;
   margin:30px;
   padding: 35px;
 }
 .content h3{
     color: #e3000f;
     font-size: 22px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     line-height: 1.6;
    } 
.content p{
    color: #003469;
    text-align: left;
    line-height: 1.6;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content aside{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 50px;
    width: 300px;
    height: 150px;
    line-height: normal;
}


 h2{
    margin: 50px;
    color: #003469;
    font-size: 22px;
    text-align: center;
}
div.gallery2{
    margin: 50px;
    float: left;
    width: 400px;
   }
div.gallery2 img{
    width: 400px;
    height:400px ;
}
div.desc2{
    padding: 15px;
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    color: #003469;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div6{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 750px 100px 10px 100px;
    height: 650px;
   
}
.unit img{
    width: 600px;
    height: 650px;
}
.content1 {
    width: 400px;
    height: 530px;
    margin:30px;
    padding: 35px;
   
}
.content1 h3{
    color: #e3000f;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
   } 
.content1 p{
   color: #003469;
   text-align: left;
   line-height: 1.6;
   font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
/* cruise section starts here*/
.background3{
    background-image: url("cruises.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height: 400px;

}
.cruise{
    font-size: 80px;
    color:#003469 ;
    text-shadow: 6px 6px white;
    text-align: center;
    padding-top: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.div7{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 75px ;
    height: 650px;
   
}
.urban img{
    width: 740px;
    height: 750px;
}
.content2 {
    width: 400px;
    height: 530px;
    margin:30px;
    padding: 55px;
}
.content2 h3{
    color: #e3000f;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;

}
.content2 p{
    color: #003469;
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.schedule h3{
    margin-top: 200px;
    font-size: 22px;
    color: #003469;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}
.schedule table, th, td{
    border: 2px solid #003469;

}
.schedule table{
    border-collapse: collapse;
    width: 70%;
    margin-left: 225px;
    margin-top: 50px;
    
}
.schedule th,td{
    height: 20px;
    text-align: left;
    padding: 10px;
    background-color: whitesmoke;
}
.div8 h3{
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    text-decoration: underline;
    color: #003469;
}
.contact-person img{
    border-radius: 50%;
    width: 150px;
}
.contact-person {
    border: 3px outset white;
    width: 280px;
    height: 350px;
    background-color: whitesmoke;
    margin-left: 225px;
    margin-top: 100px;
    line-height: normal;
    padding: 20px;
    color: #003469;
  
}
